<a href="https://colab.research.google.com/github/jbogarin74/Wobbles/blob/master/DASC_500_HW_Bogarin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import statistics as st
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
import pandas as pd
import scipy as sp

In [87]:
user_cols = ['City', 'Time (minutes)']
CT = pd.read_csv('CommuteTimes.csv')
CT.shape
CT.head ()
CT.drop('Unnamed: 2', axis=1, inplace=True)
CT.head ()

          City  Time (minutes)
0  Albuquerque            23.3
1      Atlanta            28.3
2       Austin            24.6
3    Baltimore            32.1
4       Boston            31.7

In [93]:
CT ['Time (minutes)']

0     23.3
1     28.3
2     24.6
3     32.1
4     31.7
5     25.8
6     38.1
7     24.9
8     26.8
9     23.4
10    28.5
11    28.1
12    29.3
13    24.4
14    23.0
15    24.8
16    26.2
17    23.4
18    28.4
19    20.1
20    32.2
21    21.4
22    23.8
23    30.7
24    24.8
25    23.6
26    25.3
27    31.7
28    43.8
29    22.0
30    27.1
31    34.2
32    28.3
33    25.0
34    26.4
35    23.6
36    23.4
37    25.8
38    20.2
39    26.1
40    24.8
41    32.6
42    28.5
43    27.3
44    26.8
45    24.0
46    20.1
47    32.8
Name: Time (minutes), dtype: float64

In [107]:
CT.Time (minutes).mean()

AttributeError: ignored