<a href="https://colab.research.google.com/github/jbogarin74/Wobbles/blob/master/DASC_500_Question_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import statistics as st
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
import pandas as pd
import scipy as sp

In [5]:
jobless_rate = pd.read_csv('JoblessRate.csv')
jobless_rate.head ()

  Metro Area  Jobless Rate (%)  Delinquent Loans (%)
0    Atlanta               7.1                  7.02
1     Boston               5.2                  5.31
2  Charlotte               7.8                  5.38
3    Chicago               7.8                  5.40
4     Dallas               5.8                  5.00

In [10]:
#Mean jobless rate% and delinquent loans%
jobless_rate.mean ()

Jobless Rate (%)        6.814815
Delinquent Loans (%)    6.330741
dtype: float64

In [11]:
#median jobless rate% and delinquent loan%
jobless_rate.median()

Jobless Rate (%)        6.80
Delinquent Loans (%)    5.57
dtype: float64

In [12]:
#variance of JoblessRate% and Delinquent Loans%
jobless_rate.var()

Jobless Rate (%)        0.991311
Delinquent Loans (%)    5.002284
dtype: float64

In [13]:
#standard diviation of JoblessRate% and Delinquent Loans%
jobless_rate.std()

Jobless Rate (%)        0.995646
Delinquent Loans (%)    2.236579
dtype: float64