<a href="https://colab.research.google.com/github/jbogarin74/Wobbles/blob/master/DASC_HW_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import random
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt 
import scipy as sp
import statsmodels.api as sm 
import statistics as st

In [0]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving mtcars.xlsx to mtcars (2).xlsx
User uploaded file "mtcars.xlsx" with length 18286 bytes

In [0]:
mt = pd.read_excel('mtcars.xlsx')

In [0]:
mt.shape

(32, 11)

In [0]:
mt.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2

In [0]:
train_data = mt.sample(frac = 0.7) 
test_data = mt.drop(train_data.index)

In [0]:
 train_data = mt.sample(frac = 0.7) 
 test_data = mt