<a href="https://colab.research.google.com/github/jbogarin74/Wobbles/blob/master/DASC500HW_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import statistics as st
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
import pandas as pd
import scipy as sp

In [0]:
user_cols = ['City', 'Time (minutes)']
CT = pd.read_csv('CommuteTimes.csv')
CT.shape
CT.head ()
CT.drop('Unnamed: 2', axis=1, inplace=True)
CT.head ()

          City  Time (minutes)
0  Albuquerque            23.3
1      Atlanta            28.3
2       Austin            24.6
3    Baltimore            32.1
4       Boston            31.7

In [0]:
CT.columns

Index(['City', 'Time (minutes)'], dtype='object')

In [0]:
CT ['Time (minutes)']

0     23.3
1     28.3
2     24.6
3     32.1
4     31.7
5     25.8
6     38.1
7     24.9
8     26.8
9     23.4
10    28.5
11    28.1
12    29.3
13    24.4
14    23.0
15    24.8
16    26.2
17    23.4
18    28.4
19    20.1
20    32.2
21    21.4
22    23.8
23    30.7
24    24.8
25    23.6
26    25.3
27    31.7
28    43.8
29    22.0
30    27.1
31    34.2
32    28.3
33    25.0
34    26.4
35    23.6
36    23.4
37    25.8
38    20.2
39    26.1
40    24.8
41    32.6
42    28.5
43    27.3
44    26.8
45    24.0
46    20.1
47    32.8
Name: Time (minutes), dtype: float64

In [19]:
CT.rename(columns = {'Time (minutes)':'Time'}, inplace=True)
CT.columns

Index(['City', 'Time'], dtype='object')

In [20]:
CT.head()

          City  Time
0  Albuquerque  23.3
1      Atlanta  28.3
2       Austin  24.6
3    Baltimore  32.1
4       Boston  31.7

In [21]:
CT

                City  Time
0        Albuquerque  23.3
1            Atlanta  28.3
2             Austin  24.6
3          Baltimore  32.1
4             Boston  31.7
5          Charlotte  25.8
6            Chicago  38.1
7         Cincinnati  24.9
8          Cleveland  26.8
9           Columbus  23.4
10            Dallas  28.5
11            Denver  28.1
12           Detroit  29.3
13           El Paso  24.4
14            Fresno  23.0
15      Indianapolis  24.8
16      Jacksonville  26.2
17       Kansas City  23.4
18         Las Vegas  28.4
19       Little Rock  20.1
20       Los Angeles  32.2
21        Louisville  21.4
22           Memphis  23.8
23             Miami  30.7
24         Milwaukee  24.8
25       Minneapolis  23.6
26         Nashville  25.3
27       New Orleans  31.7
28          New York  43.8
29     Oklahoma City  22.0
30           Orlando  27.1
31     Philadelphia   34.2
32           Phoenix  28.3
33        Pittsburgh  25.0
34          Portland  26.4
35        Providence  23.6
36          Richmond  23.4
37        Sacramento  25.8
38    Salt Lake City  20.2
39       San Antonio  26.1
40         San Diego  24.8
41     San Francisco  32.6
42          San Jose  28.5
43           Seattle  27.3
44         St. Louis  26.8
45            Tucson  24.0
46             Tulsa  20.1
47  Washington, D.C.  32.8

In [22]:
CT["Time"].mean()

26.90624999999999

In [23]:
CT["Time"].median()

25.950000000000003

In [25]:
CT['Time'].mode()

0    23.4
1    24.8
dtype: float64

In [31]:
CT.std()

Time    4.615165
dtype: float64

In [32]:
CT.var()

Time    21.299747
dtype: float64